/* Body */
body {
    font-family: 'Montserrat';
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

/* 2 types of sections */
.coloured-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* All text Styles*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat';
}

h1 {
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.5;
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

p {
    color: #8f8f8f;
    font-weight: 500;
}


/* Navigation Bar */
.navbar {
    padding:0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 2.2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}


/* Front Page */
#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.download-button {
    margin: 5% 3% 5% 0;
}


/* Image */
.image-phone {
    transform: rotate(25deg);
    width: 50%;
    position: absolute;
}

.img {
    padding-bottom: 7%;
    padding-left: 70px;
}


/* Features Section */
#features {
    padding: 7% 15% 5%;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 3% 5%;
}

.feature-box .fas {
    color: #ef8172;
    margin-bottom: 1rem;
}

.fab:hover ,.fas:hover {
    color: #ff4c68;
}


/* Testimonial Section */
#testimonials {
    background-color: #ef8172;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press Section */
#press {
    background-color: #ef8172;
    padding-bottom: 5%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px;
}


/* Pricing Section */

.card-holder {
    padding: 3% 2%;
}


/* CTA */
#cta h1 {
    font-size: 2.5rem;
}

#cta i:hover,i:hover {
    color: inherit;
}


/* Footer */
#footer {
    padding: 3% 15%;
}


#footer .fas, .fab{
    margin: 3% 2% 4%;
}


/* Design tweak for phones and Tablets */
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .image-phone {
        transform: rotate(0);
        padding-top: 10%;
        position: static;
    }
    .img {
        padding: 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
}
